.git
.github
.gitignore
.gitattributes
.editorconfig
.styleci.yml
.env
.env.backup
.env.production
.phpunit.result.cache
.phpunit.cache
.fleet
.idea
.nova
.vscode
.zed
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
tests
phpunit.xml
*.md
*.log
Thumbs.db
desktop.ini
Homestead.json
Homestead.yaml
composer.phar
check_users.php
/toggle comments.png
