.git
.github
.gitattributes
.gitignore
.editorconfig
.styleci.yml
.env
.env.backup
.env.production
.phpunit.cache
.phpunit.result.cache
.idea
.vscode
.fleet
.nova
.zed

node_modules
vendor

tests
phpunit.xml

storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*

*.md
*.log
*.sqlite
*.sqlite*
Thumbs.db
.DS_Store
desktop.ini

CAPTURE
ste
datetime
composer-setup.php
structure_check.txt
tmpclaude-*
